node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
_gh-pages
.vite
.vscode
slides/slidev-fil-rouge-2/public/docs/~$ssier_projet_fil_rouge_jalon_2.docx
slides/slidev-fil-rouge-2/public/docs/dossier_projet_fil_rouge_jalon_2.docx
